* {
    margin: 0px;
    padding: 0px; 
    outline: 0;
}

#menu {
    text-align: center;
    font-size: 0.9em;
    width: center;
    margin: 30px auto;
    font-family:'Times New Roman', Times, serif;
}

#menu ul {
    list-style-type: none;
}

#menu ul li {
    width: 190px;
}

#menu ul li a {
    display: block;
    text-decoration: none;
    color: rgb(236, 197, 24);
    background-color: rgb(68, 66, 66);
    border: solid 1px rgb(0, 0, 0);
    padding: 8px;
    position: relative;
}

#menu ul li ul li a {
    width: 190px;
    padding: 8px 0px;
    border-top-color: transparent;
}

#menu ul li ul {
    display: none;
}

#menu ul li.columna1 { 
    float: center;
    margin-right: 1px;
}

#menu ul li a.columna1 {
    color: rgb(235, 229, 229);
}

#menu ul li a.columna1, #menu ul li a.columna1 {
    display: block;
    position: relative;
}

#menu ul li:hover {
    position: relative;
}

#menu ul li a:hover, #menu ul li:hover a.columna1 {
    background-color: rgb(0, 0, 0);
    color: rgb(226, 217, 217);
    position: relative;
}

#menu ul li:hover  ul.columna2, #menu ul li a:hover  ul.columna2{
    display: block;
    position: absolute;left: 0px;
}

#menu ul li ul li a:hover ul.columna3, #menu ul li ul li:hover ul.columna3 {
    display: block;
    position: absolute;
    left: 190px;
    top:0px;
}

#menu ul li ul li a:hover {
    border-top-color: black;
    position: relative;
}
